@import url(../fonts/poppins/fonts.css);

$color-red: #EE0034;
$background-blue: #8000FF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// start header

.header {
    background-color: $background-blue;
    height: 80vh;

    ::selection {
        background: $color-red;
        color: #FAFAFA;
    }

    // start navbar

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 120px;

        .anchors {
            display: flex;
            align-items: center;
            gap: 40px;

            a {
                text-decoration: none;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 14px;
                color: rgba(221, 221, 221, 1);
            }

            a:hover {
                color: #FFFFFF;
            }
        }

        .icons {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        button {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;
            width: 140px;
            height: 40px;
            border: none;
            background-color: $color-red;
        }

        button:hover {
            transform: rotate(360deg);
            transition: 0.8s all linear;
            border: 2px solid $color-red;
            background: none;
            color: $color-red;
        }
    }

    // finish navbar 

    // start navbar media 

    @media screen and (max-width: 568px) {

        .navbar {
            padding: 0;

            .logo {
                img {
                    margin: 20px 40px;
                }
            }

            .anchors {
                display: none;
            }

            .icons {
                display: none;
            }

            button {
                margin-right: 20px;
            }
        }

        // finish navbar media

    }

    // start hero 

    .hero {
        margin: 10px 120px;
        width: 82.5vw;
        height: 540px;
        background: #FAFAFA;
        display: flex;

        .speakers {
            padding-top: 90px;
            padding-left: 25px;

            .date {
                display: flex;
                align-items: center;
                gap: 10px;

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #888888;
                }
            }

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 70px;
                text-transform: uppercase;
                color: #000000;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: #888888;
            }

            .register {
                margin-top: 19px;
                display: flex;
                align-items: center;
                gap: 20px;

                button {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    color: #FFFFFF;
                    width: 140px;
                    height: 45px;
                    border: none;
                    background-color: $color-red;
                }

                button:hover {
                    transition: 0.8s all linear;
                    border: 2px solid $color-red;
                    background: none;
                    border-radius: 5px;
                    color: $color-red;
                }

                .play {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    p {
                        font-weight: 700;
                        color: $color-red;
                    }
                }
            }

            .arrows {
                margin-top: 80px;
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }

    // finish hero

    // start hero media

    @media screen and (max-width: 568px) {
        .hero {
            margin: 10px 35px;
            width: 87.5vw;
            background: #FAFAFA;
            display: block;

            .speakers {
                padding: 90px 10px;
                display: grid;
                place-items: center;

                .date {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        color: #888888;
                    }
                }

                h1 {
                    text-align: center;
                    font-size: 50px;
                }

                p {
                    text-align: center;
                }
            }

            .man {
                display: none;
            }
        }
    }

    // finish hero media

}

// finish header

// start main

.main {

    // start conference-date

    .conference-date {
        padding: 250px 120px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ::selection {
            background: $color-red;
            color: #FAFAFA;
        }

        .until {
            h3 {
                font-family: 'Cluster';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                color: #EE0034;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 45px;
                color: #000000;
            }
        }

        .event {
            display: flex;
            align-items: center;
            gap: 30px;

            .time {
                h1 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    text-align: center;
                    text-transform: uppercase;
                }

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }
    }

    // finish conference-date

    // start conference-date media 

    @media screen and (max-width: 568px) {
        .conference-date {
            display: block;
            padding-left: 0;
            padding-right: 0;
            padding-top: 250px;

            .until {
                display: grid;
                place-items: center;

                p {
                    text-align: center;
                }
            }

            .event {
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;

                .time {
                    h1 {
                        font-size: 35px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    // finish conference-date media 

    // =========================================================

    // start revolutionary

    .revolutionary {
        padding: 100px 120px;
        display: flex;
        align-items: flex-start;
        gap: 110px;

        ::selection {
            background: $color-red;
            color: #FAFAFA;
        }

        .girls {
            .girl {
                visibility: hidden;
                position: absolute;
            }

            .second {
                position: absolute;
                margin-top: 210px;
                margin-left: -400px;
                z-index: 1;
            }

            .third {
                position: absolute;
                margin-top: 330px;
                margin-left: -210px;
                z-index: 2;
            }
        }

        .executive {
            h6 {
                font-family: 'Cluster';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                color: #EE0034;
            }

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 110%;
                color: #000000;
            }

            p {
                margin-top: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 150%;
                color: #888888;
            }

            .november {
                margin-top: 30px;
                display: flex;
                align-items: center;
                gap: 10px;

                button {
                    margin-top: 0;
                    background: $background-blue;
                    border: none;
                    width: 50px;
                    height: 50px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 30px;
                    color: #FFFFFF;
                }

                button:hover {
                    border-radius: 50px;
                    transform: rotate(360deg);
                    transition: 0.8s all linear;
                    color: $background-blue;
                    border: 2px solid $background-blue;
                    background: #FFFFFF;
                }

                .street {
                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: #000000;
                    }

                    p {
                        margin-top: 0;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        color: #AAAAAA;
                    }
                }
            }

            button {
                margin-top: 30px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
                width: 140px;
                height: 45px;
                border: none;
                background-color: $color-red;
            }

            button:hover {
                transition: 0.8s all linear;
                border: 2px solid $color-red;
                background: none;
                border-radius: 5px;
                color: $color-red;
            }

        }
    }

    // finish revolutionary

    // start revolutionary media

    @media screen and (max-width: 568px) {
        .revolutionary {
            margin-top: 100px;
            padding: 0;

            .girls {
                display: none;
            }

            .executive {
                display: grid;
                place-items: center;

                h1 {
                    text-align: center;
                    font-size: 45px;
                    color: #1a1515;
                }

                p {
                    font-size: 14px;
                    text-align: center;
                    color: #7a7979;
                }

                .november {
                    display: none;
                }

                button:hover {
                    transform: rotate(360deg);
                    transition: 1s all linear;
                    border: 2px solid $color-red;
                    background: none;
                    border-radius: 5px;
                    color: $color-red;
                }

            }
        }
    }

    // finish revolutionary media

    // =========================================================

    // start topics

    .topics {
        margin-top: 150px;
        background-image: url(../img/BG\ \(13\).png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding: 100px 120px;

        ::selection {
            background: #EE0034;
            color: #FAFAFA;
        }

        .topic {
            display: grid;
            place-items: center;

            h6 {
                font-family: 'Cluster';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                color: #EE0034;
            }

            h1 {
                text-align: center;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                color: #000000;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                color: #888888;
                text-align: center;
            }

            .concepts {
                margin-top: 50px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                place-items: center;
                gap: 25px;

                .concept {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    width: 460px;
                    height: 90px;
                    padding-left: 10px;
                }

                .purple {
                    background: $background-blue;

                    ::selection {
                        background: $background-blue;
                        color: #FAFAFA;
                    }

                    .brain {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70px;
                        height: 70px;
                        padding: 13px 13px;
                        background: #FFFFFF;

                        .white {
                            visibility: hidden;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #FFFFFF;
                    }
                }

                .purple:hover {
                    transition: 0.9s;
                    background: none;
                    border: 2px solid $background-blue;
                    border-radius: 2px;

                    .brain {
                        background: $background-blue;

                        .white {
                            visibility: visible;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: $background-blue;
                    }
                }

                .orange {
                    background: #FFAC27;

                    ::selection {
                        background: #FFAC27;
                        color: #FAFAFA;
                    }

                    .brain {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70px;
                        height: 70px;
                        padding: 13px 13px;
                        background: #FFFFFF;

                        .white {
                            visibility: hidden;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #FFFFFF;
                    }
                }

                .orange:hover {
                    transition: 0.9s;
                    background: none;
                    border: 2px solid #FFAC27;
                    border-radius: 2px;

                    .brain {
                        background: #FFAC27;

                        .white {
                            visibility: visible;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #FFAC27;
                    }
                }

                .green {
                    background: #25CD44;

                    ::selection {
                        background: #25CD44;
                        color: #FAFAFA;
                    }

                    .brain {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70px;
                        height: 70px;
                        padding: 13px 13px;
                        background: #FFFFFF;

                        .white {
                            visibility: hidden;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #FFFFFF;
                    }
                }

                .green:hover {
                    transition: 0.9s;
                    background: none;
                    border: 2px solid #25CD44;
                    border-radius: 2px;

                    .brain {
                        background: #25CD44;

                        .white {
                            visibility: visible;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #25CD44;
                    }
                }

                .violet {
                    background: #BD00FF;

                    ::selection {
                        background: #BD00FF;
                        color: #FAFAFA;
                    }

                    .brain {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70px;
                        height: 70px;
                        padding: 13px 13px;
                        background: #FFFFFF;

                        .white {
                            visibility: hidden;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #FFFFFF;
                    }
                }

                .violet:hover {
                    transition: 0.9s;
                    background: none;
                    border: 2px solid #BD00FF;
                    border-radius: 2px;

                    .brain {
                        background: #BD00FF;

                        .white {
                            visibility: visible;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #BD00FF;
                    }
                }

                .red {
                    background: #EE0034;

                    ::selection {
                        background: #EE0034;
                        color: #FAFAFA;
                    }

                    .brain {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70px;
                        height: 70px;
                        padding: 13px 13px;
                        background: #FFFFFF;

                        .white {
                            visibility: hidden;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #FFFFFF;
                    }
                }

                .red:hover {
                    transition: 0.9s;
                    background: none;
                    border: 2px solid #EE0034;
                    border-radius: 2px;

                    .brain {
                        background: #EE0034;

                        .white {
                            visibility: visible;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #EE0034;
                    }
                }

                .darkblue {
                    background: #1E1C5D;

                    ::selection {
                        background: #1E1C5D;
                        color: #FAFAFA;
                    }

                    .brain {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 70px;
                        height: 70px;
                        padding: 13px 13px;
                        background: #FFFFFF;

                        .white {
                            visibility: hidden;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #FFFFFF;
                    }
                }

                .darkblue:hover {
                    transition: 0.9s;
                    background: none;
                    border: 2px solid #1E1C5D;
                    border-radius: 2px;

                    .brain {
                        background: #1E1C5D;

                        .white {
                            visibility: visible;
                            position: absolute;
                        }
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 25px;
                        color: #1E1C5D;
                    }
                }
            }
        }
    }

    // start topics

    // start topics media 

    @media screen and (max-width: 568px) {
        .topics {
            padding: 0;

            .topic {
                display: grid;
                place-items: center;
                padding-top: 50px;
                padding-bottom: 50px;

                h1 {
                    text-align: center;
                    font-size: 35px;
                    line-height: 49px;
                }

                p {
                    font-size: 14px;
                    line-height: 28px;
                    color: #888888;
                    text-align: center;
                }

                .concepts {
                    margin-top: 50px;
                    display: grid;
                    grid-template-columns: 1fr;
                    place-items: center;
                    gap: 25px;
                }
            }
        }
    }

    // finish topics media

    // =========================================================

    // start festival

    .festival {
        padding: 100px 120px;

        ::selection {
            background: #1a1515;
            color: #FAFAFA;
        }

        .schedule {
            display: grid;
            place-items: center;

            h6 {
                font-family: 'Cluster';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                color: #EE0034;
            }

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                text-align: center;
                color: #000000;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                text-align: center;
                color: #888888;

            }
        }

        .schedules {
            padding-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            .tables {
                display: grid;
                gap: 28px;

                .table {
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 530px;
                    height: 60px;
                    background: #FFFFFF;
                    box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.07);

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: #000000;
                    }

                    p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        color: #AAAAAA;

                    }

                    h5 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 15px;
                        color: #EE0034;
                    }
                }
            }
        }
    }

    // finish festival

    // start festival media 

    @media screen and (max-width: 568px) {
        .festival {
            padding: 50px 10px;

            .schedule {
                display: grid;
                place-items: center;

                h1 {
                    font-size: 45px;
                }

                p {
                    font-size: 15px;

                }
            }

            .schedules {
                padding-top: 40px;
                display: block;

                .tables {
                    display: grid;
                    gap: 20px;
                    place-items: center;

                    .table {
                        padding: 0 20px;
                        width: 500px;
                        height: 50px;

                        h4 {
                            font-size: 14px;
                        }

                        p {
                            font-size: 11px;

                        }

                        h5 {
                            font-size: 14px;
                        }
                    }
                }

                .conf {
                    display: none;
                }
            }
        }
    }

    // finish festival media

    // =========================================================

    // start gallery

    .gallery {
        padding: 100px 120px;

        ::selection {
            background: #EE0034;
            color: #FFFFFF;
        }

        .our {
            display: grid;
            place-items: center;

            h6 {
                font-family: 'Cluster';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                color: #EE0034;
            }

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                text-align: center;
                color: #000000;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                text-align: center;
                color: #888888;
            }
        }

        .meetup {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: auto;
            grid-gap: 20px;

            .presses {
                .press {
                    .people {
                        position: relative;
                        width: 100%;
                        margin: auto;
                        margin-bottom: 20px;
                    }

                    .dates {
                        position: absolute;
                        z-index: 1;
                        margin-top: -105px;
                        margin-left: 20px;

                        h3 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 25px;
                            color: #FFFFFF;
                        }

                        .date {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            p {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 15px;
                                color: #EE0034;
                            }
                        }
                    }
                }
            }
        }
    }

    // finish gallery

    // start gallery media

    @media screen and (max-width: 568px) {
        .gallery {
            padding: 100px 10px;

            .meetup {
                grid-gap: 10px;

                .presses {
                    .press {
                        .people {
                            margin-bottom: 10px;
                        }

                        .dates {
                            margin-top: -70px;
                            margin-left: 10px;

                            h3 {
                                font-size: 18px;
                            }

                            .date {
                                p {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // finish gallery media

    //=========================================================

    // start pricing

    .pricing {
        padding: 100px 120px;
        background-image: url(../img/BG\ \(13\).png);
        background-repeat: no-repeat;
        background-attachment: fixed;

        ::selection {
            background: $color-red;
            color: #FFFFFF;
        }

        h6 {
            text-align: center;
            font-family: 'Cluster';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: $color-red;
        }

        h1 {
            text-align: center;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            color: #000000;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            text-align: center;
            color: #888888;
        }

        .cards {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            .green {
                .card-2 {
                    position: relative;
                    z-index: 9;
                    margin-top: -675px;
                    margin-left: 5px;
                    width: 370px;
                    height: 681px;
                    visibility: hidden;
                    border: 1px solid #25CD44;
                    background: #25CD44;
                }
            }

            .green:hover {
                .card-2 {
                    visibility: visible;
                }
            }

            .red {
                .card-2 {
                    position: relative;
                    z-index: 9;
                    margin-top: -675px;
                    margin-left: 5px;
                    width: 370px;
                    height: 681px;
                    border: 1px solid $color-red;
                    background: $color-red;
                }
            }

            .blue {
                .card-2 {
                    position: relative;
                    z-index: 9;
                    margin-top: -675px;
                    margin-left: 5px;
                    width: 370px;
                    height: 681px;
                    visibility: hidden;
                    border: 1px solid $background-blue;
                    background: $background-blue;
                }
            }

            .blue:hover {
                .card-2 {
                    visibility: visible;
                }
            }

            .card-1 {
                .card {
                    width: 370px;
                    height: 681px;
                    background: #FFFFFF;
                    position: relative;
                    z-index: 10;

                    .corporate {

                        .bg {
                            position: relative;
                            z-index: 1;
                        }

                        .lorem {
                            margin-top: -200px;
                            padding: 25px 25px;
                            position: relative;
                            z-index: 2;

                            h2 {
                                text-align: center;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 30px;
                                color: #FFFFFF;
                            }

                            p {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                text-align: center;
                                color: #FFFFFF;
                            }

                            span {
                                display: flex;
                                align-items: center;
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 13px;
                                justify-content: center;
                                color: #FFFFFF;

                                h3 {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 40px;
                                }
                            }
                        }
                    }

                    .regular {
                        padding: 40px 30px;
                        display: grid;
                        gap: 15px;

                        .word {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;

                            p {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 15px;
                                color: #888888;
                            }
                        }
                    }

                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        button {
                            margin-top: 10px;
                            width: 140px;
                            height: 40px;
                            background: $color-red;
                            border: none;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            color: #FFFFFF;
                        }

                        button:hover {
                            transition: 0.9s all linear;
                            background: none;
                            border: 2px solid $color-red;
                            color: $color-red;
                            border-radius: 2px;
                        }
                    }
                }
            }

        }
    }

    // finish pricing

    // start pricing media

    @media screen and (max-width: 568px) {
        .pricing {
            padding: 50px 0;

            h1 {
                font-size: 40px;
            }

            .cards {
                grid-template-columns: 1fr;
                place-items: center;
            }
        }
    }

    // finish pricing media

    //=========================================================

    // start testimonials

    .testimonials {
        padding: 120px 70px;
        display: grid;
        place-items: center;

        ::selection {
            background: #25CD44;
            color: #FFFFFF;
        }

        h3 {
            text-align: center;
            font-family: 'Cluster';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: $color-red;
        }

        h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            text-align: center;
            color: #000000;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            text-align: center;
            color: #888888;

        }

        .qoute {
            margin-top: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            .qoute-1 {
                .selim {
                    margin: -95px 50px;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 10px 15px;
                    position: absolute;
                    width: 550px;
                    height: 340px;
                    border: 1px solid #EEEEEE;

                    .text {
                        h5 {
                            margin-top: 20px;
                            font-family: 'Poppins';
                            font-style: italic;
                            font-weight: 300;
                            font-size: 14px;
                            color: #888888;
                        }

                        h4 {
                            margin-top: 30px;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            color: #000000;
                        }

                        h6 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 13px;
                            color: #AAAAAA;
                        }
                    }
                }
            }

            .qoute-2 {
                .ellipse {
                    position: relative;
                    margin-top: 300px;
                    margin-left: 510px;
                }

                .selim {
                    position: relative;
                    margin-top: -395px;

                }
            }
        }

        .slide {
            margin-top: 120px;
        }
    }

    // finish testimonial

    // start testimonial media

    @media screen and (max-width: 568px) {
        .testimonials {
            padding: 120px 10px;
            display: block;

            ::selection {
                background: #25CD44;
                color: #FFFFFF;
            }

            h1 {
                font-size: 35px;
            }

            p {
                font-size: 14px;
            }

            .qoute {
                margin-top: 50px;
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;

                .qoute-1 {
                    .selim {
                        margin: -95px 50px;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 10px 15px;
                        position: absolute;
                        width: 450px;
                        height: 340px;
                        border: 1px solid #EEEEEE;

                        .woman {
                            width: 200px;
                            height: 300px;
                        }

                        .text {
                            h5 {
                                font-size: 12px;
                            }

                            h4 {
                                font-size: 14px;
                            }

                            h6 {
                                font-size: 11px;
                            }
                        }
                    }
                }

                .qoute-2 {
                    display: none;
                }
            }

            .slide {
                display: none;
            }
        }
    }

    // finish testimonial media

    //=========================================================

    // start sponsored

    .sponsored {
        padding: 120px 120px;
        display: flex;
        align-items: center;
        gap: 20px;

        ::selection {
            background: #2ADDAA;
            color: #FFFFFF;
        }

        .partners {
            h3 {
                font-family: 'Cluster';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                color: $color-red;
            }

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 50px;
                line-height: 49px;
                color: #000000;
            }

            p {
                margin-top: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                color: #888888;
            }

            button {
                margin-top: 25px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                color: #FFFFFF;
                background: $color-red;
                border: none;
                width: 230px;
                height: 50px;
            }

            button:hover {
                transition: 0.9s all linear;
                background: none;
                border: 2px solid $color-red;
                color: $color-red;
                border-radius: 2px;
            }
        }

        .platinum {
            display: grid;
            gap: 20px;

            .sponsors {
                h2 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    color: #000000;
                }

                .imgs {
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;

                    .images {
                        display: grid;
                        place-content: center;
                        width: 200px;
                        height: 110px;
                    }

                    .img-1 {
                        border: 1px solid #EEEEEE;
                    }

                    .img-2 {
                        border: 1px solid #2ADDAA;
                    }

                    .img-3 {
                        border: 1px solid #EEEEEE;
                    }

                    .img-4 {
                        border: 1px solid #EEEEEE;
                    }

                    .img-5 {
                        border: 1px solid #B2E4F7;
                    }

                    .img-6 {
                        border: 1px solid #EEEEEE;
                    }
                }
            }
        }
    }

    // finish sponsored

    // start sposored media

    @media screen and (max-width: 568px) {
        .sponsored {
            margin-top: 100px;
            padding: 120px 10px;
            display: block;

            .partners {
                display: grid;
                place-items: center;

                h3 {
                    text-align: center;
                }

                h1 {
                    text-align: center;
                    font-size: 40px;
                }

                p {
                    text-align: center;
                }
            }

            .platinum {
                margin-top: 50px;

                .sponsors {
                    display: grid;
                    place-items: center;

                    .imgs {
                        grid-template-columns: 1fr 1fr;

                        .images {
                            display: grid;
                            place-content: center;
                            width: 200px;
                            height: 110px;
                        }

                        .img-3 {
                            display: none;
                        }

                        .img-6 {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // finish sposored media

    //=========================================================

    // start blog-post

    .blog-post {
        padding: 100px 100px;

        h3 {
            text-align: center;
            font-family: 'Cluster';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            color: $color-red;
        }

        h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            text-align: center;
            color: #000000;
        }

        p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            text-align: center;
            color: #888888;
        }

        .promotion {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;

            h6 {
                margin-top: 10px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                color: #AAAAAA;
            }

            h4 {
                margin-top: 5px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 30px;
                color: #000000;
            }

            .vector {
                margin-top: 9px;
                display: flex;
                align-items: center;
                gap: 8px;

                h5 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 15px;
                    color: $color-red;
                }
            }
        }
    }

    // finish blog-post

    // start blog-post media

    @media screen and (max-width: 568px) {
        .blog-post {
            padding: 100px 100px;

            h1 {
                font-size: 30px;
            }

            .promotion {
                grid-template-columns: 1fr;
                place-items: center;
                gap: 40px;
            }
        }
    }

    // finish blog-post media

    //=========================================================
}

// finish main

//=========================================================

// start footer

footer {
    margin-top: 100px;
    // start hurry-up

    .hurry-up {
        background-image: url(../img/image\ 55.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 90px 250px;
        display: grid;
        place-items: center;

        ::selection {
            background: none;
            color: $color-red;
        }

        h2 {
            text-align: center;
            font-family: 'Cluster';
            font-style: normal;
            font-weight: 400;
            font-size: 60px;
            color: #FFFFFF;
        }

        h1 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 50px;
            line-height: 110%;
            text-align: center;
            color: #FFFFFF;
        }

        p {
            margin-top: 20px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 140%;
            text-align: center;
            color: #FFFFFF;
        }

        button {
            margin-top: 40px;
            width: 170px;
            height: 50px;
            background: $color-red;
            border: none;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
        }

        button:hover {
            transition: 0.9s all linear;
            background: none;
            border: 2px solid $color-red;
            color: $color-red;
            border-radius: 2px;
        }
    }

    // finish hurry-up

    // start hurry-up media

    @media screen and (max-width: 568px) {
        .hurry-up {
            padding: 90px 10px;

            h1 {
                font-size: 40px;
                line-height: 100%;
            }

            p {
                line-height: 130%;
            }
        }
    }

    // finish hurry-up media

    //=========================================================

    // start bottom

    .bottom {
        padding: 100px 100px;
        background: #151515;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;

        .links {
            p {
                margin-top: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                color: #DDDDDD;
            }

            h4 {
                margin-top: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
            }

            h5 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #FFFFFF;
            }

            h2 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                color: #FFFFFF;
            }

            ul {
                margin-top: 20px;

                li {
                    margin-left: 18px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 200%;
                    color: #DDDDDD;

                }
            }

            .photo {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;
            }

            input {
                outline: none;
                border: none;
                margin-top: 20px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                color: #AAAAAA;
                background: none;
            }

            button {
                margin-top: 40px;
                width: 170px;
                height: 50px;
                background: $color-red;
                border: none;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
            }

            button:hover {
                transition: 0.9s all linear;
                background: none;
                border: 2px solid $color-red;
                color: $color-red;
                border-radius: 2px;
            }
        }
    }

    // finish bottom

    // start bottom media

    @media screen and (max-width: 568px) {
        .bottom {
            margin-top: -20px;
            padding: 100px 100px;
            place-items: center;
            background: #151515;
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
        }
    }

    // finish bottom media
}

// finish footer