@font-face {
    font-family: 'Poppins';
    src: url(./Poppins-Black.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(./Poppins-Bold.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url(./Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url(../poppins/Poppins-MediumItalic.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Cluster';
    src: url(./Clusters.ttf);
    font-weight: 400;
}